.contact-image { 
  width: 100%;
  height: 30dvh;
  height: 30svh;
  padding: 0;
  margin:0;
  background-image: url('../public/images/view.jpg');
  background-repeat: no-repeat;
  background-position-x: 15%;
  background-position-y: 30%;
  background-size: cover;
}
@media (min-width: 70em) {
  .contact-image {
      width: 50%;
      min-height: calc(100vh - var(--scroll-padding));
      min-height: calc(100svh - var(--scroll-padding));
      background-position-y: 15%;
  }
}


.contact {
  padding: 0;
  margin: 0;
  // background: green;
  .container {
      flex-direction: column;
  }
}
@media (min-width: 70em) {
  .contact {
    padding:0;
    .container {
      flex-direction: row-reverse;
    }
  }
}

label.error {
  color: #f30;
  margin: 0;
  padding: 0.25rem 0 0;
  width: 100%;
  text-align: end;
}
  
.contact-form {
  padding: 2rem;
  width: 100%;
  min-height: 70vh;
  min-height: 70svh;
  background-color: $clr-Primary;
  // text-align: center;
}
@media (min-width: 70em) {
  .contact-form {
    padding: 7%;
    display: grid;
    place-items: center;
    width: 50%;
    min-height: calc(100vh - var(--scroll-padding));
    min-height: calc(100svh - var(--scroll-padding));
  }
}


.contact-container {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
  margin: 0 0 1rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  /* background: yellow; */
  h1 {
    margin: 0 0 1rem;
  }
}
@media (min-width: 70em) {
  .contact-container {
    width: 100%;
    text-align: start;
  }
  .contact-container p {
    width: 100%;
  }
}


.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 70em) {
  .form-container form{
    flex-direction: column;
    gap: 2rem;
  }
}


.form-name-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 70em) {
  .form-name-container {
    flex-direction: row;
    gap: 2rem;
  }
}



@media (min-width: 70em) {
  .form-first-name,
  .form-last-name {
    width: 50%;
  }
}

.form-submit button {
  margin: 0.5rem 0 0;
  padding: 1rem 2rem;
}


#results {
  margin: 0;
  padding: 0;

}

.green {
  color: green;
  padding: 1rem;
  margin: 0 0 1rem;
  background: lightgreen;
  border-radius: 5px;
}

.red {
  color: rgb(128, 6, 0);
  padding: 1rem;
  margin: 0 0 1rem;
  background: rgb(241, 122, 122);
  border-radius: 5px;
}
  
  
.form-container label {
  display: block;
  cursor: pointer;
}

.form-container input,
.form-container textarea,
.form-container select {
  margin-top: 0.25rem;
  width: 100%;
  height: 3rem;
  border: none;
  // color: var(--fc-normal-text-color);
  padding: 8px 12px;
}

.form-container textarea{
  min-height: 188px;
  max-width: 100%;
  padding-top: 12px;
}

.form-container input::placeholder,
.form-container textarea::placeholder,
.form-container select::placeholder {
  color: #999;
}

.form-container input:hover::placeholder,
.form-container textarea:hover::placeholder,
.form-container select:hover::placeholder {
  color: #999;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
  background-color: #fff;
  border-color: hsl(var(--fc-primary-hsl));
  box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
  outline: none;
}

.form-container select {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
  /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
  background-size: 24px 24px;
  background-position: 98%;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
}

.form-container input:focus:required:invalid,
.form-container input:focus:invalid, 
.form-container select:focus:required:invalid,
.form-container select:focus:invalid
{
  color: hsl(var(--fc-error-hsl)); 
  border-color: hsl(var(--fc-error-hsl));
  box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}